.poiret-one-regular {
  font-family: "Poiret One", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.unifrakturmaguntia-regular {
  font-family: "UnifrakturMaguntia", cursive;
  font-weight: 400;
  font-style: normal;
}
*{
    font-family: "Poiret One", sans-serif;
}
header{
  position: sticky;
  top: 0; /* Se queda pegado arriba */
  padding: 10px;
  border-bottom: 1px solid #ccc;
  z-index: 1000; /* Para que quede encima de otros elementos */
    width: 100%;
    height: 20vh;
    background-color: black;
    font-family: "UnifrakturMaguntia", cursive;
    color: white;
    text-align: center;
    padding: 10px;
}
header h1{
  font-size: 10vh;
  font-family: "UnifrakturMaguntia", cursive;
  color: white;
  margin: 10px;
  padding: 10px;
}
header nav{
  width: 100%;
  margin-top: 10px;
  margin-left: 0px;
  margin-right: 0px;
  padding: 10px;
  background-color: white;
}
nav a{
  text-decoration: none;
  color: black;
  margin: 0 15px;
  font-size: 20px;
  padding: 9px;
}
nav a:hover{
  background-color: #000000a0;
  color: white;
}
.aboutus{
    width: 97%;
    height: 30vh;
    background-color: #f0f0f0;
    text-align: justify;
    padding: 20px;
    font-size: larger;
}
.separador1{
    width: 100%;
    height: 50vh;
    background-image: url("../images/YAGG.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.services{
  width: 97%;
  height: 100vh;
  background-color: #f0f0f0;
  text-align: justify;
  padding: 20px;
  font-size: larger;
}
.services ul{
  display: flex;
  list-style-type: none;
  font-size: x-large;
}
.NS{
  text-align: center;
  font-size: xx-large;
  margin-bottom: 20px;
}
.serv1{
  background-color: #0000009a;
  color: white;
  margin: 10px;
  padding: 10px;
  border-radius: 15px;
}
.serv2{
  background-color: #0000009a;
  color: white;
  margin: 10px;
  padding: 10px;
  border-radius: 15px;
}
.serv3{
  background-color: #0000009a;
  color: white;
  margin: 10px;
  padding: 10px;
  border-radius: 15px;
}
.services img{
  height: 50vh;
  padding: 20px;
  align-items: center;
  border-radius: 15px;
}

footer{
    display: flex;
    width: 100%;
    height: 10vh;
    background-color: black;
    color: white;
    text-align: center;
    padding: 20px;
    font-size: larger;
}
.img{
  justify-content: center;
  align-items: center;
}
.img img{
  padding: 20px;
  height: 5vh;
  margin: 10px;
}