/*html{
    overflow: hidden;
}*/
.poiret-one-regular {
  font-family: "Poiret One", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.unifrakturmaguntia-regular {
  font-family: "UnifrakturMaguntia", cursive;
  font-weight: 400;
  font-style: normal;
}
/**{
    margin: 0;
    padding: 0;
}

body{
    width: 100vw;
    height: 100vh;
    margin: 0;
    background-color: #ffffff;
    perspective: 1px; /*ayuda a crear espacios y el efecto 3d
    transform-style: preserve-3d;
    overflow-x: hidden;
    overflow-y: scroll;

}

.contenedor::before{
    content: "";
    width: 100vw;
    height: 100vh;
    position: absolute;
    background: url(../images/coronabuena.png) 0px 0px;
    background-size: cover;
    transform: translateZ(2) scale(2.2);
}

.contenedor::after{
    content: "";
    width: 100vw;
    height: 100vh;
    position: absolute;
    background: url(../images/yaaaaggg.png)  top center;
    background-size: cover;
    transform: translateX(15%) translate(-23%, 10%);
}

.contenedor .img1{
    transform: translateX(-0.5px) scale(1.3,1.4) translate(-63%, 10%);
}

.img1{
    width: 40%;
    left: 100%;
    position: absolute;
}

.contenedor, .espacio{
    width: 100%;
    height: 100vh;
    position: relative;
    transform-style: preserve-3d;
}

.espacio{
    background-color: #ccc;
}*/

body {
    
  font-family: "Poiret One", sans-serif;
  margin: 0;
  font-family: Arial, sans-serif;
  display: grid;
  grid-template-rows: auto 1fr;
  height: 100vh;
}

header {
    
  font-family: "Poiret One", sans-serif;
  background-color: #333;
  color: white;
  text-align: center;
  padding: 1rem;
}

header nav{
    align-items: center;
  width: 100%;
  margin-top: 10px;
  margin-left: 0px;
  margin-right: 0px;
  padding: 10px;
  background-color: white;
}
nav a{
  text-decoration: none;
  color: black;
  margin: 0 15px;
  font-size: 20px;
  padding: 9px;
}
nav a:hover{
  background-color: #000000a0;
  color: white;
}
.carrusel {
  display: grid;
  grid-template-columns: 1fr;
  place-items: center;
  overflow: hidden;
  position: relative;
}

.carrusel-contenedor {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 100%;
  transition: transform 0.5s ease;
}

.carrusel img {
  width: 100%;
  height: auto;
  display: block;
}

/* Botones */
.boton {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: rgba(0, 0, 0, 0.6);
  color: white;
  border: none;
  padding: 0.5rem 1rem;
  cursor: pointer;
  font-size: 1.5rem;
}

.prev {
  left: 10px;
}
.next {
  right: 10px;
}
