*{
    margin: 0;
    padding: 0;
}

.content{
    width: 100vw;
    height: 100vh;
}

.imgfondo{
    width: 100%;
    background-image: url(../images/Fondoep.jpeg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.espacio{
    width: 100%;
    height: 100%;
}